<div class="l-page">
        <video autoplay="" preload="" muted="" id="video" playsinline="">
                <source src="/birthday.mp4" type="video/mp4">
                <source src="/birthday.webm" type="video/mp4">
                <p>ご利用のブラウザでは再生することができません。</p>
        </video>
</div>