<div class="l-page">
  <video autoplay="" preload="" muted="" id="video" playsinline="" class="l-page_video">
          <source src="/birthday.mp4" type="video/mp4">
          <source src="/birthday.webm" type="video/mp4">
          <p>ご利用のブラウザでは再生することができません。</p>
  </video>
  <div class="c-sound">
    <img src="/svg/volume-off-solid.svg" width="32" height="32" class="c-sound_off">
    <img src="/svg/volume-up-solid.svg" width="32" height="32" class="c-sound_up">
  </div>
</div>