body {
  background-color: #FDEDCD;
}

.c-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  video {
    @media screen and (min-width: 769px){
      max-height: 99%;
      max-width: 99%;
    }

    @media screen and (max-width: 768px){
      transform: rotate( 90deg );
      max-height: 99vw;
      max-width: 99vh;
    }
  }
}
